mixin filter-date-dropdown({title, initialText, identifier})
  .filter-date-dropdown
    +datepicker({identifier, typeCalendar: 'filter'})
    h3.filter-date-dropdown__title= title
    .filter-date-dropdown__wrapp
      input.filter-date-dropdown__input(value= initialText disabled data-identifier= identifier)
      button.filter-date-dropdown__btn(data-value="start" data-identifier= identifier)
        svg(
          width="12"
          height="8"
          viewBox="0 0 12 8"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        )
          path(d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#1F2041" fill-opacity="0.5")

