include ../button/button

mixin dropdown({title, buttonText, isOpen, hasButtons, typeDropdown= "rooms", subtitle=false, values= [2, 2, 0]})
  -
    const className = ["dropdown", "js-dropdown"]

  if isOpen
    - className.push("dropdown_open")

  -  
    const elements = {
      rooms: ["спальни", "кровати", "ванные комнаты"],
      people: ["взрослые", "дети", "младенцы"],
    }

  div(class= className)
    h3.dropdown__header= title
      if(subtitle)
        span.dropdown__subtitle= subtitle
    .dropdown__menu
      button.dropdown__btn.js-dropdown__btn
        span.dropdown__title #{buttonText}
        svg.dropdown__svg(xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="8"
            viewBox="0 0 12 8")
          path(d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z")
      .dropdown__body
        ul.dropdown__list
          each element, index in elements[typeDropdown]
            li.dropdown__item
              label.dropdown__label
                span.dropdown__label-title #{element}
                input.dropdown__input.js-dropdown__input(
                  type="number",
                  value= values[index],
                  min= 0,
                  max= 5
                )
        if(hasButtons)
          .dropdown__buttons
            .dropdown__clear
              +button({text: "очистить", style: "text"})
            .dropdown__apply
              +button({text: "применить", style: "text"})
