include ../checkbox/checkbox

mixin expandable-checkbox-list(title, checkboxList, isOpen= false)
  - let className = "expandable-checkbox-list js-expandable-checkbox-list";
  - if(isOpen) className = `${className} ${className}--open`;

  div(class= className)
    button.expandable-checkbox-list__btn.js-expandable-checkbox-list__btn= title
      svg.expandable-checkbox-list__svg(xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="8"
              viewBox="0 0 12 8")
            path(d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z")
    ul.expandable-checkbox-list__list
      each checkbox in checkboxList
        - const {text, isChecked} = checkbox
        li.expandable-checkbox-list__li
          +checkbox(text, isChecked)
