mixin button({text, style, isDisabled= false, link="/mock-address/change-me"})
  -
    const styles = {
      fill: "fill",
      border: "border",
      text: "text",
      arrow: "arrow",
    }

  -
    const classes = [
      `btn`,
      `btn__${styles[style]}`,
      `btn_disabled_${isDisabled}`,
      `btn__${styles[style]}_disabled_${isDisabled}`,
    ]
  a(class= [...classes], href= link)
    span= text
